* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------- NAVBAR -------------------- */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: teal;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #d1f7ff;
}

/* PROFILE DROPDOWN */
.profile-wrapper {
  position: relative;
}

.profile-btn {
  padding: 8px 14px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  width: 150px;
  border-radius: 8px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.dropdown-menu button {
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  color: #333;
}

.dropdown-menu button:hover {
  background: #f0f0f0;
}

.menu-icon {
  display: none;
}
